<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    
    <title>React app</title>
    
    <body>

        <div class="container">

            <p>Map with data from the API : </p>
            <div id="app"></div>

        </div>


        <script src="/static/bundle.js"></script>
    </body>
</html>